@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  background: #efefef;
  padding: 86px 0 120px;
}
@media (max-width: 767px) {
  .section {
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 14px;
  position: relative;
  font-family: "Lato", sans-serif;
}
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3f51b5;
}
@media (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 3px;
  }
}
@media (max-width: 767px) {
  .section-title::after {
    font-size: 26px;
    padding-bottom: 4px;
  }
}

.header {
  background-color: #3f51b5;
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  text-align: center;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__logo {
  width: 205px;
}
@media (max-width: 767px) {
  .header__logo {
    width: 182px;
  }
}
.header__logo img {
  display: inline-block;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .header__logo img {
    margin-top: 12px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav li:not(:first-child) {
  margin-left: 40px;
}
.header__nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.header__nav li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__nav li a:hover::after, .header__nav li a.is-active::after {
  background: #e81919;
}

.main-visual {
  height: 600px;
  width: 100%;
  background: url(https://seigo-kondoh.github.io/the-company/img/mainvisual.png) no-repeat center center/cover;
  position: relative;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
@media (max-width: 767px) {
  .main-visual__content {
    padding: 0 46px;
  }
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .main-visual__title {
    font-size: 32px;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 6px;
}
@media (max-width: 767px) {
  .main-visual__lead {
    font-size: 18px;
    margin-top: 18px;
  }
}

.main-visual__button {
  margin-top: 34px;
}
@media (max-width: 767px) {
  .main-visual__button {
    margin-top: 28px;
  }
}
.main-visual__button a {
  display: inline-block;
  width: 390px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #3f51b5;
  text-decoration: none;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-visual__button a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .main-visual__button a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

.card {
  background: #efefef;
}

.card__items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__item {
  width: calc(33.3% - 24px * 2 / 3);
  padding: 16px;
  border-radius: 4px;
  background: #fff;
}
@media (min-width: 1200px) {
  .card__item:not(:nth-child(3n+1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n+4) {
    margin-top: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .card__item {
    width: calc(50% - 24px * 1 / 2);
  }
  .card__item:not(:nth-child(2n+1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n+3) {
    margin-top: 24px;
  }
}
@media (max-width: 767px) {
  .card__item {
    width: 100%;
    margin-left: 0;
  }
  .card__item:nth-child(n+2) {
    margin-top: 24px;
  }
}

.card__img img {
  width: 100%;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  color: #6f7579;
  margin-top: 3px;
}

.card__text {
  color: #6f7579;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 6px;
}

.news {
  background: #fff;
}

.news__items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 12px;
}
.news__item:not(:first-child) {
  border-top: 1px solid #707070;
}
@media (max-width: 767px) {
  .news__item {
    display: block;
    margin-top: 40px;
  }
}

.news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

.news__date {
  width: 105px;
  padding-top: 3px;
  font-family: "Lato", sans-serif;
}

.news__label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666666;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news__label a.is-blue {
  background: #3f51b5;
}
.news__label a.is-red {
  background: #e81919;
}
.news__label a:hover {
  opacity: 0.7;
}

.news__title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
}
.news__title a {
  text-decoration: none;
  line-height: 1.25;
}
@media (max-width: 767px) {
  .news__title {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 6px;
  }
}

.news__more {
  margin-top: 60px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .news__more {
    margin-top: 30px;
  }
}
.news__more a {
  text-decoration: none;
  color: #e81919;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.news__more a:hover {
  opacity: 0.7;
}
.news__more a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(https://seigo-kondoh.github.io/the-company/img/news-arrow@.png) no-repeat center center/contain;
}

.price {
  background: #efefef;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .price__content {
    display: block;
    margin-top: 40px;
  }
}

.price__image {
  width: 37.8333333333%;
}
@media (max-width: 767px) {
  .price__image {
    width: 100%;
  }
}
.price__table {
  width: 59%;
  margin-left: auto;
}
@media (max-width: 767px) {
  .price__table {
    width: 100%;
    margin-top: 24px;
  }
}

.table__attention {
  font-size: 14px;
  margin-top: 10px;
}
.table__attention a {
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.table__attention a:hover {
  opacity: 0.7;
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;
}
.table th,
.table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}
.table th {
  background: #999999;
  color: #ffffff;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.table th:nth-child(1) {
  width: 172px;
}
@media (max-width: 767px) {
  .table th:nth-child(1) {
    width: 112px;
  }
}
.table td {
  text-align: right;
}
.table strong {
  color: #e81919;
  line-height: 1.2;
}
.table span {
  font-size: 13px;
  display: block;
  margin-top: 1px;
  line-height: 1.2;
}

.access {
  background: #ffffff;
}

.access__map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .access__map {
    margin-top: 40px;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.access__info-row:not(:first-child) {
  margin-top: 8px;
}
.access__info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}
.access__info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}

.access__button {
  text-align: center;
  margin-top: 30px;
}
.access__button a {
  text-decoration: none;
  display: inline-block;
  width: 304px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 16px 12px;
  background: #3f51b5;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.access__button a:hover {
  opacity: 0.7;
}
.access__button a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(https://seigo-kondoh.github.io/the-company/img/button-arrow@2x.png) no-repeat center center/contain;
}

.contact {
  background: #efefef;
}

.contact__form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}
@media (max-width: 767px) {
  .contact__form {
    margin-top: 40px;
    padding: 24px;
  }
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}
.contact-form__row:not(:first-child) {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .contact-form__row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact-form__label {
  width: 160px;
  padding: 5px 0 0;
  margin: 0;
}
@media (max-width: 767px) {
  .contact-form__label {
    width: 100%;
  }
}
.contact-form__label label {
  font-weight: 700;
}
.contact-form__label label.is-required {
  display: inline-block;
  position: relative;
}
.contact-form__label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background: #e81919;
  text-align: center;
  border-radius: 4px;
  padding: 3px 8px;
  line-height: 1;
}
@media (max-width: 767px) {
  .contact-form__label label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}

.contact-form__input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .contact-form__input {
    width: 100%;
    margin-top: 5px;
  }
}
.contact-form__input [type=text] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input [type=email] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  padding: 12px 16px;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #fff url(https://seigo-kondoh.github.io/the-company/img/select-arrow@2x.png) no-repeat right 12px center/17px 14px;
}
.contact-form__input textarea {
  height: 240px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
}

.contact-form__radio {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .contact-form__radio {
    margin-top: 26px;
  }
}
.contact-form__radio [type=radio] {
  display: none;
}
.contact-form__radio span {
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}
@media (max-width: 767px) {
  .contact-form__radio span {
    margin-bottom: 8px;
    margin-left: 13px;
  }
}
.contact-form__radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact-form__radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3f51b5;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}
.contact-form__radio [type=radio]:checked + span::after {
  display: block;
}

.contact-form__radio__check {
  margin-top: 63px;
  text-align: center;
}
@media (max-width: 767px) {
  .contact-form__radio__check {
    margin-top: 40px;
  }
}
.contact-form__radio__check [type=checkbox] {
  display: none;
}
.contact-form__radio__check span {
  padding-left: 49px;
  position: relative;
}
.contact-form__radio__check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact-form__radio__check span::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(https://seigo-kondoh.github.io/the-company/img/checkbox@2x.png) no-repeat center center/contain;
  display: none;
}
.contact-form__radio__check span a {
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-form__radio__check span a:hover {
  opacity: 0.7;
}
.contact-form__radio__check [type=checkbox]:checked + span::after {
  display: block;
}

.contact-form__button {
  margin-top: 30px;
  text-align: center;
}
.contact-form__button [type=submit] {
  background: #3f51b5 url(https://seigo-kondoh.github.io/the-company/img/button-arrow@2x.png) no-repeat right 12px center/17px 16px;
  width: 304px;
  height: 56px;
  font-weight: 700;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-form__button [type=submit]:hover {
  opacity: 0.7;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px;
  color: #fff;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__left {
  width: 36%;
}
@media (max-width: 767px) {
  .footer__left {
    width: 100%;
  }
}

.footer__logo img {
  width: 205px;
}

.footer__address,
.footer__tel {
  font-size: 14px;
}

.footer__address {
  margin-top: 26px;
}
@media (max-width: 767px) {
  .footer__address {
    margin-top: 13px;
  }
}

.footer__tel {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .footer__tel {
    margin-top: 6px;
  }
}

.footer__center {
  width: 48%;
}
@media (max-width: 767px) {
  .footer__center {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
}
.footer__nav li:not(:first-child) {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .footer__nav li:not(:first-child) {
    margin-left: 20px;
  }
}
.footer__nav li a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__nav li a:hover {
  opacity: 0.7;
}

.footer__right {
  width: 12%;
}
@media (max-width: 767px) {
  .footer__right {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767px) {
  .footer__sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__sns li:not(:first-child) {
  margin-left: 16px;
}
.footer__sns li a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__sns li a:hover {
  opacity: 0.7;
}
.footer__sns li a img {
  width: 30px;
}

.copyright {
  margin-top: 46px;
  font-size: 14px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .copyright {
    margin-top: 22px;
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
}
@media (max-width: 767px) {
  .to-top {
    right: 12px;
    bottom: 12px;
  }
}
.to-top a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.to-top a:hover {
  opacity: 0.7;
}
.to-top a img {
  width: 60px;
}
@media (max-width: 767px) {
  .to-top a img {
    width: 40px;
  }
}

/*=============================
Drawer
==============================*/
.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active .drawer-icon__ber1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}
.drawer-icon.is-active .drawer-icon__ber2 {
  display: none;
}
.drawer-icon.is-active .drawer-icon__ber3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-icon__bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__ber1,
.drawer-icon__ber2,
.drawer-icon__ber3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
}

.drawer-icon__ber1 {
  top: 0;
}

.drawer-icon__ber2 {
  top: 8px;
}

.drawer-icon__ber3 {
  top: 16px;
}

.drawer-content {
  padding: 100px 88px;
  width: 100%;
  background: #3f51b5cc;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__item {
  width: 200px;
  height: 48px;
}
.drawer-content__item a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  position: relative;
}
.drawer-content__item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(https://seigo-kondoh.github.io/the-company/img/arrow-w@2x.png) no-repeat center center/contain;
  width: 18px;
  height: 16px;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}
.drawer-background.is-active {
  display: block;
}
